body {
	text-align: center;
	position: relative;
	height: 100%;
}

header {
	text-align: center;
	margin-top: 50px;
	margin-bottom: 40px;
}

.main-heading {
	font-family: 'Shadows Into Light Two', cursive;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -1px;
}

.container {
	max-width: 1080px;
}

.navbar .navbar-nav {
    display: inline-block;
    float: none;
}

.navbar .navbar-collapse {
    text-align: center;
    font-family: 'Radley', serif;
}

.main-container {
	margin-top: 50px;
	margin-bottom: 100px;
}

.text-side {
	text-align: left;
}

#pic {
	width: 200px;
	height: 200px;
}

.quote-each {
	margin-bottom: 100px;
}

.footer {
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 1rem;
	/*background-color: #efefef;*/
	text-align: center;
}

#docker-main-img {
	max-width: 200px;
}

#docker-main-img-div {
	text-align: center;
}

#kubernetes-main-img {
	max-width: 200px;
}

#kubernetes-main-img-div {
	text-align: center;
}

.navigation-container {
	text-align: left;
}

.article {
	text-align: left;
}

.terminal {
	font-family: Lucida Console,Lucida Sans Typewriter,monaco,Bitstream Vera Sans Mono,monospace;
}

.form-row {
	text-align: left;
}

.profile-statistics {
	margin-top: 20px;
}