{% extends "sportsbetting/base.njk" %}

{% block body %}
<div class="row main-container">
            
    <header class="row"> 
        <div class="col-md-12">
            <h1 class="main-heading">Sportsbetting App</h1>
        </div>
    </header>

</div>

<footer class="row footer">
    <div class="col-md-12 footer-left"> 
        <a href="https://www.linkedin.com/in/konrad-schieban-1730b986/">
            <i class="fa fa-linkedin-square" style="font-size:36px"></i>
        </a>
        <a href="https://twitter.com/KonradSchieban">
            <i class="fa fa-twitter-square" style="font-size:36px"></i>
        </a>
        <a href="https://github.com/KonradSchieban">
            <i class="fa fa-github-square" style="font-size:36px"></i>
        </a>
        <a href="https://plus.google.com/116898464157221797446">
            <i class="fa fa-google-plus-square" style="font-size:36px"></i>
        </a>
        <a href="mailto:konrad.schieban@gmail.com">
            <i class="fa fa-envelope" style="font-size:36px"></i>
        </a>
    </div>
</footer>
{% endblock %}